package partials

templ Logo() {
	<a
		class="bg-mantle max-w-24 rounded-t-lg pb-2 flex justify-center align-middle items-center flex-col"
		href="/"
	>
		<img src="/static/styles/icon_inverted.svg"/>
		<span class="font-extrabold text-text text-xs">Powner</span>
	</a>
}
