package components

import (
	"fmt"
	"github.com/pulsone21/powner/internal/entities"
	"github.com/pulsone21/powner/internal/ui/shared"
)

templ DeleteMemberButton(m entities.Member) {
	@shared.RemoveButton(templ.Attributes{
		"hx-delete": fmt.Sprintf("/partials/members/%v", m.ID),
		"hx-target": "closest li",
		"hx-swap":   "outerHTML",
	}, "", "")
}
