package components

import (
	"fmt"
	"github.com/pulsone21/powner/internal/ui/shared"
)

templ DeleteTeamButton(teamID string) {
	@shared.RemoveButton(
		templ.Attributes{
			"hx-delete": fmt.Sprintf("/partials/teams/%v", teamID),
			"hx-target": "closest li",
			"hx-swap":   "delete",
		}, "", "")
}
