package shared

templ Logo() {
	<a
		class="bg-mantle max-w-24 rounded-t-lg py-2 flex justify-center align-middle items-center flex-col"
		href="/"
	>
		<img src="/static/favicon/favicon.png" title="Powner - Home"/>
	</a>
}
