package modals

import (
	"fmt"
	"github.com/pulsone21/powner/internal/entities"
	"github.com/pulsone21/powner/internal/service"
	"github.com/pulsone21/powner/internal/ui/partials"
	"github.com/pulsone21/powner/internal/ui/shared"
)

templ SkillModal(skills []entities.Skill, t entities.SkillHolder) {
	@baseModal() {
		<div class="w-full h-full min-w-[400px] bg-base flex justify-between items-center flex-col p-3 rounded-lg">
			<div class="flex flex-row w-full h-[90%]">
				// TODO: replace that it works with all SkillHolder entities
				<div
					class="w-1/2 min-w-56 bg-mantle rounded-lg mr-2 p-2"
					hx-get={ fmt.Sprintf("/partials/skills/list?%v=%v", t.GetType(), t.GetID()) }
					hx-target="this"
					hx-trigger={ fmt.Sprintf("%v from:body, %v from:body, every 600s", service.CreateSkillEvent, service.DeleteSkillEvent) }
				>
					@partials.SkillList(skills, t, "No skills found")
				</div>
				<div class="w-1/2 bg-mantle rounded-lg p-2">
					@partials.SkillForm(nil)
				</div>
			</div>
			<div class="flex mt-1 justify-between items-center w-3/5 h-10 bottom-0">
				@shared.Button("Close", "hover:text-red hover:bg-red/25",
					templ.Attributes{
						"_": "on click remove #modal",
					})
			</div>
		</div>
	}
}

templ NewSkillModal() {
	@baseModal() {
		<div class="w-2/3 bg-base rounded-lg mr-2 p-2">
			<div class="w-full bg-mantle mr-2 p-2">
				@partials.SkillForm(nil)
			</div>
		</div>
	}
}
