package pages

import (
	"github.com/pulsone21/powner/internal/entities"
	"github.com/pulsone21/powner/internal/ui/shared"
	"github.com/pulsone21/powner/internal/ui/subpage"
)

templ MembersOverviewPage(members []entities.Member) {
	@shared.Base(subpage.MemberOverviewTopbar()) {
		@subpage.MembersOverview(members, false)
	}
}

templ MemberDetailsPage(m entities.Member) {
	@shared.Base(subpage.MemberDetailsTopbar(m)) {
		@subpage.MemberDetails(m, false)
	}
}
