package pages

import (
	"github.com/pulsone21/powner/internal/ui/shared"
	"github.com/pulsone21/powner/internal/ui/subpage"
)

templ Settings() {
	@shared.Base(nil) {
		@subpage.SettingsSubpage()
	}
}
