package pages

import (
	"github.com/pulsone21/powner/internal/entities"
	"github.com/pulsone21/powner/internal/ui/shared"
	"github.com/pulsone21/powner/internal/ui/subpage"
)

templ SkillOverviewPage(skills []entities.Skill) {
	@shared.Base(subpage.SkillOverviewTopbar()) {
		@subpage.SkillOverview(skills, false)
	}
}

templ SkillDetailPage(skill entities.Skill) {
	@shared.Base(subpage.SkillDetailsTopbar(skill)) {
		@subpage.SkillDetails(skill, false)
	}
}
