package pages

import (
	"github.com/pulsone21/powner/internal/entities"
	"github.com/pulsone21/powner/internal/ui/shared"
	"github.com/pulsone21/powner/internal/ui/subpage"
)

templ SkillPage(skills []entities.Skill, activeSkill *entities.Skill) {
	@shared.Base(nil) {
		@subpage.SkillOverview(skills, activeSkill)
	}
}
