package pages

import (
	"github.com/pulsone21/powner/internal/entities"
	"github.com/pulsone21/powner/internal/ui/shared"
	"github.com/pulsone21/powner/internal/ui/subpage"
)

templ TeamsOverviewPage(teams []entities.Team) {
	@shared.Base(subpage.TeamOverviewTopbar()) {
		@subpage.TeamsOverview(teams, false)
	}
}

templ TeamDetailPage(team entities.Team) {
	@shared.Base(subpage.TeamDetailsTopbar(team)) {
		@subpage.TeamDetails(team, false)
	}
}
