package pages

import (
	"github.com/pulsone21/powner/internal/entities"
	"github.com/pulsone21/powner/internal/ui/shared"
	"github.com/pulsone21/powner/internal/ui/subpage"
)

templ TeamPage(teams *[]entities.Team, active *entities.Team) {
	@shared.Base(nil) {
		@subpage.TeamsOverview(*teams, active)
	}
}
