package pages

import (
	"github.com/pulsone21/powner/internal/entities"
	"github.com/pulsone21/powner/internal/ui/shared"
	"github.com/pulsone21/powner/internal/ui/subpage"
)

templ TeamPage(teams *[]entities.Team, active *entities.Team) {
	@shared.Base() {
		<div id="content" class="h-full w-full flex flex-col justify-between">
			@subpage.TeamsOverview(*teams, active)
		</div>
	}
}
